body {

    padding: 25px 50px 75px;
    

}
button {
    margin-top: 20px;
}

h1 {
    text-align: center;
    text-decoration: solid;
    text-justify: auto;
    font-weight: bold;
}

 #back-img {
   
    margin-top: 10px;
    top: 50cm;
    width: 100px;
    height: 100px;
    
}
#b-box{
    background-color: aqua;
}
.coloum {

     top: 20px;
     margin-top: 250px; 
     width: auto;
}